name: Pull Request
permissions: {}
on:
    pull_request:
        branches:
            - main
    workflow_dispatch:
jobs:
    code_style_issues:
        name: Code style issues
        permissions:
            contents: read
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "lts/*"
            - name: Find code style issues
              run: npx prettier --check .
